*,
body {
  margin: 0;
  padding: 0;
}
/* -------------------------------------ABOUT PAGE--------------------- */
.about_page {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_page .box {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about_page .box .row {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_page .box .row .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_page .box .row .left .greeting {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_page .box .row .left .greeting .img {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_page .box .row .left .greeting .img img {
  width: 80%;
  height: 80%;
  border-radius: 4px;
}

.about_page .box .row .left .greeting .lists {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_page .box .row .left .greeting .lists ul {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_page .box .row .left .greeting .lists ul li {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about_page .box .row .left .greeting .lists ul li span {
  font-weight: 500;
  margin: 10px;
}

/* ---------------------------------------------SKILLS--------------------------- */
.about_page .box .row .left .skill-bars {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill-bars .bar {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill-bars .bar .info {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 95%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #0078ff;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.javascript span {
  width: 35%;
}
.bar .progress-line.react span {
  width: 30%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.javascript span::after {
  content: "35%";
}
.progress-line.react span::after {
  content: "30%";
}

/* --------------------------------------------------ABOUT ME TEXT---------------------- */
.about_page .box .row .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_page .box .row .right .about_me {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_page .box .row .right .about_me .title {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
}

.about_page .box .row .right .about_me .text {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about_page .box .row .right .about_me .text .texts {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 480px) {
  .about_page {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .about_page .box {
    width: 95%;
    height: 90%;
  }

  .about_page .box .row {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .about_page .box .row .left {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: flex-end;
  }
  .about_page .box .row .left .greeting {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
  .about_page .box .row .left .greeting .img {
    width: 95%;
    height: 40%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about_page .box .row .left .greeting .img img {
    width: 40%;
    height: 90%;
  }
  .about_page .box .row .left .greeting .lists {
    width: 95%;
    height: 50%;
    justify-content: flex-start;
  }
  .about_page .box .row .left .skill-bars {
    width: 95%;
    height: 60%;
  }

  .about_page .box .row .right {
    width: 100%;
    height: 50%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about_page {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .about_page .box {
    width: 95%;
    height: 90%;
  }

  .about_page .box .row {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .about_page .box .row .left {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: flex-end;
  }
  .about_page .box .row .left .greeting {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
  .about_page .box .row .left .greeting .img {
    width: 95%;
    height: 40%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about_page .box .row .left .greeting .img img {
    width: 40%;
    height: 90%;
  }
  .about_page .box .row .left .greeting .lists {
    width: 95%;
    height: 50%;
    justify-content: flex-start;
  }
  .about_page .box .row .left .skill-bars {
    width: 95%;
    height: 60%;
  }

  .about_page .box .row .right {
    width: 100%;
    height: 50%;
  }
}